<script type="text/x-handlebars" data-template-name="login">

  <div class="container">
    <form class="form-signin" role="form" {{action login on="submit"}}>
      <h2 class="form-signin-heading">Please sign in</h2>
      {{input value=email type="text" class="form-control" placeholder="Email address" }}
      {{input value=password type="password" class="form-control" placeholder="Password" }}
      {{input class="btn btn-lg btn-success btn-block" type="submit" value="Sign in"}}
    </form>
    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
  </div>

</script>
