<script type="text/x-handlebars" data-template-name="index">
  <div class="container">
    {{#each model}}
      <article>
        <h3>{{title}}</h3>
      </article>
    {{/each}}
  </div>
</script>
