<script type="text/x-handlebars" data-template-name="index">
  {{test}}
  <div class="container">
    <h3>Todos</h3>
    {{#each model}}
      <article>
        <h3>{{title}}</h3>
      </article>
    {{/each}}
  </div>

</script>
