<script type="text/x-handlebars" data-template-name="users">

  <div class="container">
    <h3>Users</h3>
    {{#each model}}
      <article>
        <h3>{{email}}</h3>
      </article>
    {{/each}}
  </div>

</script>
